@import url('https://picsum.photos/');

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  background-color: black;
  font-family: 'Lato', sans-serif;
  min-width: 700px;
}

.view-settings-item, .bar-item, .user {
  cursor: pointer;
}

/* View settings */
.view-settings {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  color: white;
}

.view-settings .view-settings-item {
  float: left;
  display: flex;
  background-color: #4A4A4A;
  padding: 3px;
  font-size: 9px;
  margin: 3px;
  border-radius: 3px;
}

.view-settings .view-speaker .view-settings-item-icon {
  margin-right: 3px;
}

/* Webcams */
.meeting-container {
  padding-top: 85px;
  padding-bottom: 15px;
  height: calc(100vh - 155px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  overflow-y: auto;
}

.meeting-container .user {
width: 160px;
height: 100px;
background-image: url(https://picsum.photos/200/300?grayscale);
background-size: cover;
position: relative;
margin: 5px 2px;
}

.meeting-container .user .user-info {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  background-color: rgba(140, 140, 140, 0.5);
  color: white;
  font-size: 9px;
  max-width: 80%;
}

.meeting-container .user .user-info .user-nickname{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.meeting-container .user .user-info .user-microphone {
  margin-right: 2px;
}

/* Bottom bar */
.bottom-bar {
  bottom: 0;
  height: 55px;
  width: 100%;
  background-color: #272727;
  display: flex;
  justify-content: space-between;
}

.bottom-bar .bar-section {
  display: flex;
}

.bottom-bar .bar-section .bar-item {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 10px;
  align-items: center;
}

.bottom-bar .bar-section .bar-item .item-icon {
    font-size: 17px;
}

.bottom-bar .bar-section .bar-item .item-description {
  font-size: 9px;
  margin: 7px 0;
}

.bottom-bar .bar-section .bar-item .item-more {
  font-size: 8px;
  margin: 2px 15px;
}

.bottom-bar .bar-section #share-screen {
  margin-right: 15px;
}

.bottom-bar .bar-section #share-screen .item-icon{
  color: #4BC800;
}

.bottom-bar .bar-section #end-meeting {
  color: #FF0000;
  background-color: #4A4A4A;
}

